@media (max-width: 370px) {
  .WhatIsSedtuaLat {
    display: flex;
    flex-direction: column;
  }
}

.page {
  display: flex;
  width: 96vw;
  max-width: 800px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  font-size: 14px;
  color: #757575;
  text-decoration: underline;
  margin-top: 7.7vh;
  display: flex;
  width: 100%;
}

.whatIsSedtua {
  font-family: "DM Serif Display";
  font-size: 44px;
  font-weight: 400;
  letter-spacing: 0%;
  line-height: 60px;
  width: 100%;
  margin-top: 1.4vh;
  margin-bottom: 5.7vh;
}

.sedtua {
  color: transparent;
  background: #578db2;
  -webkit-background-clip: text;
}

.WhatIsSedtuaKr {
  font-family: "Pretendard-Medium";
  font-size: 16px;
  line-height: 19px;
  color: #5d5d5d;
}

.sedtuaDescription {
  line-height: 1.5em;
}
