.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainTitle {
  margin-top: 3vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sedtua {
  font-family: "DM Serif Display";
  font-size: 64px;
  font-weight: 400;
  letter-spacing: 0%;
  line-height: 64px;
  text-align: center;
  color: transparent;
  background: #578db2;
  -webkit-background-clip: text;
}

.logo {
  height: 44vh;
}

.cross {
  margin-top: 1.5vh;
  height: 30vh;
  object-fit: contain;
  width: auto;
  margin-bottom: 1.5vh;
}

.buttonSet {
  position: fixed;
  bottom: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  width: 96vw;
  max-width: 800px;
  height: 7vh;
  margin-bottom: 12px;
  border-radius: 12px;
  background-color: #1e1e1e; /* 버튼 배경색 */
  color: #f5f5f5; /* 텍스트 색상 */
  font-size: 16px; /* 기본 폰트 크기 */
  font-family: "Pretendard-Bold";
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.csng {
  background-color: transparent; /* 버튼 배경을 투명으로 설정 */
  color: #682a2f; /* 텍스트 색상도 버튼 스트로크와 동일한 색으로 설정 */
  font-size: 16px; /* 기본 폰트 크기 */
  border: 2px solid #682a2f; /* 버튼 테두리 색상과 두께 설정 */
}
.viabtn {
  background-color: transparent; /* 버튼 배경을 투명으로 설정 */
  color: #578db2; /* 텍스트 색상도 버튼 스트로크와 동일한 색으로 설정 */
  font-size: 16px; /* 기본 폰트 크기 */
  border: 2px solid #578db2; /* 버튼 테두리 색상과 두께 설정 */
}
